.sass-cache/
vendor/ruby
*~
*.swp
*.swo
tags
log/*
tmp/*
lib/mysql.rb
config/*.yml
[a-zA-Z0-9\.-_]*~
misc
capybara*
coverage
config/*.sphinx.conf
config/environments/dev_local.rb
db/sphinx/*
public/system/*
public/sitemaps/*
backup
nbproject/*
features_report.html
public/services/
public/stylesheets/all.css
public/javascripts/all.js
rerun.txt
mkmf.log
.bundle/
nohup.out
*.sqlite3
.rvmrc
doc/praca_inzynierska.pdf
